
{% extends 'ecom/homebase.html' %}
{% load static %}
<!-- login and registration page css-->


{% load widget_tweaks %}
{% block content %}
 

<!-- Section: Design Block -->
<section class="container-fluid  pt-5">
  <!-- Jumbotron -->
  <div class=" container-fluid pt-5 vh-100 text-center text-lg-start " style="background-color: hsl(0, 0%, 96%)">
    <div class="container pt-5">
      <div class="row gx-lg-5 align-items-center my-auto pt-5">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Hey! Admin  <br />
            <span class="text-primary">Hope You keep it clear</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post" >
              {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                       
                        <label class="form-label text-white" for="form3Example4">Admin Email</label>
                        {% render_field form.password class="form-control  p-2 rounded" placeholder="Email" %}
                    </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <div class="form-outline">
                       
                        <label class="form-label text-white" for="form3Example4">Admin Password</label>
                        {% render_field form.password class="form-control  p-2 rounded" placeholder="Password" %}
                    </div>
                  </div>
                </div>

                
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" href="/customer-home" class="btn btn-primary btn-block mb-4">
                  Sign up
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                     <img width="50" height="50" src="https://img.icons8.com/ios/50/google-logo--v1.png" alt="google-logo--v1"/>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                     <img width="50" height="50" src="https://img.icons8.com/ios/50/facebook-new.png" alt="facebook-new"/>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/twitter--v1.png" alt="twitter--v1"/>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
{% endblock content %}
