
{% extends 'ecom/homebase.html' %}
{% load static %}
<!-- login and registration page css-->
<style>
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>

{% load widget_tweaks %}
{% block content %}

<!-- Section: Design Block -->
<section class="container-fluid h-100  pt-5">
  <!-- Jumbotron -->
  <div class="container- fluid text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center ">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The Signup Page <br />
            <span class="text-primary">for your business</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6  pt-5 border-none mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post" >
              {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                     <label class="form-label " for="form3Example3">First Name</label>
                      {% render_field userForm.first_name class="form-control form-control-lg p-2 rounded border-primary text-primary"  %}
                  </div>
                  <div class="col-md-6 mb-4">
                     <label class="form-label " for="form3Example4">Last Name</label>
                    {% render_field userForm.last_name class="form-control p-2 rounded"  %}

                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                   <label class="form-label " for="form3Example4">Username</label>
                    {% render_field userForm.username class="form-control  p-2 rounded " %}
         
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label " for="form3Example4">Password</label>
                  {% render_field userForm.password class="form-control p-2 rounded " %}
                </div>

                <div class="form-outline mb-4">
                   <label class="form-label " for="form3Example4">Address</label>
                    {% render_field customerForm.address class="form-control p-2 rounded"  %}
                </div>

                <div class="form-outline mb-4">
                   <label class="form-label " for="form3Example4">Address</label>
                    {% render_field customerForm.address class="form-control p-2 rounded"  %}
                </div>

                <div>
                <label class="form-label " for="form3Example4">Mobile</label>
               {% render_field customerForm.mobile class="form-control p-2 rounded"  %}
               </div>

               <div>
                 <label class="form-label " for="form3Example4">Profile_pic</label>
                {% render_field customerForm.profile_pic class="form-control p-2 rounded"  %}
               </div>


                <!-- Checkbox -->
                

                <!-- Submit button -->
                <button type="submit"  class="mt-3 btn btn-primary btn-block mb-4">
                  Sign up
                </button>

                <!-- Register buttons -->
                <div class="row text-center ">
                  <a class="col-12 " href="/customerlogin">Login</a>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>



{% endblock content %}
