{% load static %}

<script>
AOS.init();
</script>
<!--feature ends-->

<section class="container mb-5">
	
		<!-- Title -->
		<div class="row my-5 py-5" >
			<div class="col-lg-12  text-center mb-5 display-1">
			    
				<h2 class="display-1 fw-bold" style="color:purple; "  data-aos="fade-left"  data-aos-duration="1000">Have Look At Our Reviews</h2>
				<p class="display-6 fw-normal" data-aos="fade-right"  data-aos-duration="1000">Check out most 🔥 Some of our reviews in the market</p>
			</div>
		</div>

		<div class="row bg-light ">
			<!-- Counter item -->
			<div class="col-sm-12 mt-5  " data-aos="zoom-in"  data-aos-duration="2000" >
				<div class="d-flex justify-content-center align-items-center p-5 m-3 bg-warning bg-opacity-15 rounded-3 mb-5">
					<span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
					<div class="row ms-4 h6 fw-normal mb-0 ">
						<div class=" col-4">
							<img width="100" height="48" src="https://img.icons8.com/color/48/delivery--v1.png" alt="delivery--v1"/>
							<span class="mb-0 "></span>
						</div>
						<div class="col-6  p-2 h2 mb-0">Free Delivery</div>
					</div>
				</div>
			</div>
			
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-bezier2" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" id="mainIconPathAttribute" fill="purple"></path> </svg>
			
		</div> 
		
        <div class="row bg-light">
			<!-- Counter item -->
			<div class="col-sm-12 ms-auto mb-5" data-aos="zoom-in"  data-aos-duration="2000" >
				<div class="d-flex mb-5 justify-content-center align-items-center p-5 m-3 bg-primary bg-opacity-10 rounded-3">
					<span class="display-6 lh-1 text-blue mb-0"><i class="fas fa-user-tie"></i></span>
					<div class="row ms-4 h6 fw-normal mb-0">
						<div class="col-4">
							<img width="100" height="48" src="https://img.icons8.com/doodle/48/girl.png" alt="girl"/>
							<span class="mb-0 h5"></span>
						</div>
						<div class="col-6 h2 p-2 mb-0">Experts Notes</div>
					</div>
				</div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-bezier2" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" id="mainIconPathAttribute" fill="purple"></path> </svg>
		</div>
			<!-- Counter item -->
		<div class="row bg-light">
			<!-- Counter item -->
			<div class="col-sm-12 mb-5" data-aos="zoom-in"  data-aos-duration="2000" >
				<div class="d-flex mb-5 justify-content-center align-items-center p-5 m-3 bg-info bg-opacity-10 rounded-3">
					<span class="display-6 lh-1 text-blue mb-0"><i class="fas fa-user-tie"></i></span>
					<div class="row ms-4 h6 fw-normal mb-0">
						<div class="col-4">
							<img width="100" height="48" src="https://img.icons8.com/color/48/average-2.png" alt="average-2"/>
						</div>
						<div class="col-6 p-2 h2 mb-0">Minimum Price</div>
					</div>
				</div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-bezier2" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" id="mainIconPathAttribute" fill="purple"></path> </svg>
		</div>
		<div class="row bg-light">
			<div class="col-sm-12 ms-auto mb-5" data-aos="zoom-in"  data-aos-duration="2000" >
				<div class="d-flex mb-5 justify-content-center align-items-center p-5 m-3 bg-success bg-opacity-10 rounded-3">
					<span class="display-6 lh-1 text-blue mb-0"><i class="fas fa-user-tie"></i></span>
					<div class="row ms-4 h6 fw-normal mb-0">
						<div class="col-4">
							<img width="100" height="50" src="https://img.icons8.com/bubbles/50/download.png" alt="download"/>
						</div>
						<div class="col-6 h2 p-2 mb-0">Free Download</div>
					</div>
				</div>
			</div>
		</div>
    
</section>




		
		