{% include 'ecom/homebase.html' %}
{% load widget_tweaks %}

{% load static %}




 <!--header section end -->
  {%block content%}
      <!-- contact section start -->
      <section class="container vh-100 mx-auto">
            <div class=" container-fluid ">
             <div class="row d-flex  pt-5 ">
            <h1 class=" pt-5 text-center pb-5"> We Love Your Feedbacks!</h1>
            <div class="contact_section_2">
               <div class="row  pt-5">
                  <div class="col-md-6 ">
                   <form method="post">
                     {% csrf_token %}
                        <div class="email_text">
                           <div class="form-outline mb-4">
                              <input type="text" class="form-control form-control-lg text-secondary  rounded p-2" placeholder="Name" name="Name" 
                              {% render_field feedbackForm.name 
                               %}>
                           </div>
                           <div class="form-outline mb-4">
                                <input type="number" class="form-control form-control-lg text-secondary  rounded p-2" placeholder="Phone Numbar" name="Email" >
                           </div>
                          <div class="form-outline mb-4">
                                <input type="email" class="form-control form-control-lg text-secondary  rounded p-2" placeholder="Email" name="Email">
                          </div>
                           <div class="form-outline mb-4">
                                {% render_field feedbackForm.feedback  class="form-control form-control-lg text-secondary  rounded p-2" placeholder="Massage" rows="5" id="comment" name="Massage"  %}
                           </div>
                           
                           <div class="row "> 
                           <div class="col-12 text-center ">
                          <input type="submit" class="btn-border-2 rounded-circle text-center btn-warning p-3  " value="Send"/>
                          </div>
                          </div>
                         
                      </form>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="map_main">
                        <div class="map-responsive">
                           <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
         
      {%endblock content%}

      {% include 'ecom/footer.html'%}
      <!-- contact section end -->
     
   